Прошло n минут. Какое время будут показывать электронные часы?

In [15]:
n = int(input()) 
print( (n//60) % 24, " часов")
print(n%60, " минут")

1111000
12  часов
40  минут

Действительное число Х. Вывести первую цифру после десятичной точки.

In [28]:
X = float(input())
X = int(X*10)%10
X

5.666666

6

Вывести каждую цифру заданного 4-значного числа

In [32]:
X = int(input())
X1 = X // 1000 #первый символ    _ | _ _ _
X2 = (X // 100) % 10 # второй символ _ | _ | _ _
X3 = (X % 100) // 10 #третий символ _ _ | _ | _
X4 = X % 10 # четвертый сивол _ _ _ | _
print (X1, X2, X3, X4)

1234
1 2 3 4

Занятия начинаются в 8:00. Продолжительность урока - 80 минут. После 1,3,5 уроков и т д перемена 10 минут. После 2,4,6 и т д 20 минут.
Дан номер урока. Определить, когда он заканчивается

In [42]:
n = int(input())
time = 8*60 + n*80 + ((n-1)%2)*10 + ((n-1)//2)*20
print(time//60, ":", time%60)

2
10 : 50

В книге k строк. По номеру строки в тексте определить номер страницы, где будет напечатана строка, и ее номер.

In [40]:
k=10
n=int(input())
print(n//k, "страница", n%k, "строка")

56
5 страница 6 строка

Единица товара стоит A рублей, В копеек. Было куплено n штук. Сколько потратили на всю покупку?

In [44]:
A = 10
B = 20
n = int(input())
summa = (10*100+20) * n
print (summa//100, 'рублей', summa%100, 'копеек')

9
91 рублей 80 копеек